<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>SerGuruComRss</display-name>
  <listener>
    <description>ServletContextListener</description>
    <listener-class>com.guru.rss.listener.StartupListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>upwork</servlet-name>
    <servlet-class>com.guru.rss.servlet.UpworkServlet</servlet-class>
    <init-param>
      <param-name>url</param-name>
      <!-- <param-value>http://www.upwork.com/jobs/rss?</param-value> -->
      <!-- <param-value>https://www.upwork.com/ab/feed/jobs/rss?api_params=1&amp;</param-value> -->
      <param-value>https://www.upwork.com/ab/feed/jobs/rss?sort=create_time+desc&amp;api_params=1&amp;securityToken=644cafc4a70d9852d5325513f9d4a2889a55ff890f2c2cdeaf57a70b1f724d0ddc0ca39b2f1e246a1314e63412301f593d4fb100271631152d3465c182fedc72&amp;userUid=424192413366730752&amp;q=</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>fcom_nosql</servlet-name>
    <servlet-class>com.guru.rss.servlet.FcomNosqlAndMongoServlet</servlet-class>
    <init-param>
      <param-name>url</param-name>
      <param-value>https://www.freelancer.com/rss/job_NoSQL-Couch-Mongo.xml</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>collectorAndroid</servlet-name>
    <servlet-class>com.guru.rss.servlet.RssServlet</servlet-class>
    <init-param>
      <param-name>theme</param-name>
      <param-value>Android</param-value>
    </init-param>
    <init-param>
      <param-name>url</param-name>
      <param-value>http://www.guru.com/d/jobs/q/android</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>collectorJava</servlet-name>
    <servlet-class>com.guru.rss.servlet.RssServlet</servlet-class>
    <init-param>
      <param-name>theme</param-name>
      <param-value>Java</param-value>
    </init-param>
    <init-param>
      <param-name>url</param-name>
      <param-value>http://www.guru.com/d/jobs/q/java</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>twitterSearch</servlet-name>
    <servlet-class>com.twitter.servlet.TwitterSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>upwork</servlet-name>
    <url-pattern>/upwork</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>fcom_nosql</servlet-name>
    <url-pattern>/fcom_nosql</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>collectorAndroid</servlet-name>
    <url-pattern>/android.xml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>collectorJava</servlet-name>
    <url-pattern>/java.xml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>twitterSearch</servlet-name>
    <url-pattern>/twitterSearch.jsp</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>